 {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 16px/1.5 system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--ink);
  background: #fff;
}
.left-side {
  padding-left: 30px;
}
.right-side ul {
  list-style: none;
}
.right-side {
  padding-right: 30px;
}
nav ul {
  display: flex;
  gap: 40px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
.main {
  display: grid;
  grid-template-columns: 180px 1fr;
}
.main ul {
  list-style: none;
  width: 110px;
  display: block;
}
.main ul li {
  border: solid;
  background-color: brown;
  margin-bottom: 10px;
  padding: 10px 15px;
  text-align: center;
}
blockquote {
  margin: 14px 0;
  padding: 14px 16px;
  background-color: rgb(225, 225, 224);
}
